.weko-dropdown .weko-dropdown_menu {
  --weko-dropdown-menuItem-hover-fill: var(--weko-color-primary-light-9);
  --weko-dropdown-menuItem-hover-color: var(--weko-color-primary);
  --weko-dropdown-menuItem-disabled-color: var(--weko-border-color-lighter);
  --weko-dropdown-menuItem-divided-color: var(--weko-border-color-lighter);
}
.weko-dropdown {
  display: inline-block;
  .weko-tooltip {
    --weko-popover-padding: 5px 0;
  }
}
.weko-dropdown_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .weko-dropdown_item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    list-style: none;
    line-height: 22px;
    padding: 5px 16px;
    margin: 0;
    font-size: var(--weko-font-size-base);
    color: var(--weko-text-color-regular);
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: var(--weko-dropdown-menuItem-hover-fill);
      color: var(--weko-dropdown-menuItem-hover-color);
    }
    &.is-disabled {
      color: var(--weko-dropdown-menuItem-disabled-color);
      cursor: not-allowed;
      background-image: none;
    }
  }
  .divided-placeholder {
    margin: 6px 0;
    border-top: 1px solid var(--weko-dropdown-menuItem-divided-color);
  }
}
